.bloc-1 {
  background: $white;
  width: 70%;
  margin: 80px auto 0;

  .section-1 {
    padding: 7% 12%;
    margin-bottom: 20px;

    .date {
      text-align: center;
      font-size: 1.3rem;
      position: relative;
      color: $darkgrey;

      &::before {
        content: "";
        background: $hellgrey;
        height: 1px;
        width: 30%;
        position: absolute;
        top: 50%;
        left: 2%;
      }

      &::after {
        content: "";
        background: $hellgrey;
        height: 1px;
        width: 30%;
        position: absolute;
        top: 50%;
        right: 2%;
      }
    }

    h2 {
      font-family: "Inter";
      font-size: 4rem;
      text-transform: uppercase;
      font-weight: 800;
      text-align: center;
      margin: 50px 0 30px;
    }

    p {
      text-align: center;
      line-height: 35px;
    }

    .img-big {
      background: url(../img/pic01.jpg) no-repeat center / cover;
      height: 400px;
      width: 100%;
      margin: 30px 0 40px;
    }
  }

  .section-2 {
    @include flexCenter;
    border-top: 1px solid $hellgrey;

    .article-1 {
      border-right: 1px solid $hellgrey;
    }

    .article {
      padding: 7% 6%;

      .date {
        text-align: center;
        color: $darkgrey;
      }

      h3 {
        font-family: "Inter";
        font-weight: 800;
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 2px;
        text-align: center;
        margin: 20px 0;
      }

      .img-small-1 {
        background: url(../img/pic02.jpg) no-repeat center / cover;
        height: 280px;
        width: 100%;
        margin: 20px 0;
      }

      .img-small-2 {
        background: url(../img/pic03.jpg) no-repeat center / cover;
        height: 280px;
        width: 100%;
        margin: 20px 0;
      }

      .txt-article {
        font-size: 1rem;
        line-height: 30px;
        text-align: left;
        padding-bottom: 30px;
      }
    }
  }
}

.bloc-2 {
  background: $white;
  width: 70%;
  height: 80vh;
  margin: 30px auto 70px;
  display: grid;
  grid-template-columns: 50% 50%;

  position: relative;

  .info-left {
    height: 100%;
    padding: 10%;

    &::after {
      content: "";
      position: absolute;
      background: $hellgrey;
      height: 100%;
      width: 1px;
      top: 0;
      left: 50%;
    }

    form {
      width: 100%;

      div {
        padding-bottom: 20px;
      }

      label,
      input,
      textarea {
        display: block;
        width: 100%;
        padding-bottom: 15px;
        font-family: "Inter";
        font-size: 0.9rem;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        color: $black;
        background: transparent;
        border-radius: 5px;
        outline: none;
      }

      input,
      textarea {
        border: 1px solid $hellgrey;
      }

      textarea {
        resize: none;
        height: 140px;
        margin-bottom: 20px;
      }

      .button-form {
        width: 180px;
        text-align: left;
        padding: 10px 20px;
        color: $black;
        margin: 0;
        border: 1.5px solid $black;
        border-radius: 0;
      }
    }
  }

  .info-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100%;

    .contact-item {
      display: flex;
      align-items: center;
      gap: 35px;
      height: 100%;
      border-bottom: 1px solid $hellgrey;
      padding: 10%;

      h4 {
        font-family: "Inter";
        font-size: 0.9rem;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
        color: $black;
        width: 83px;
      }

      p {
        color: $darkgrey;
      }

      ul {
        display: flex;
        gap: 15px;

        @media (max-width: 1150px) {
          gap: 10px;
        }

        i {
          font-size: 1.2rem;
          border: 1px solid $hellgrey;
          border-radius: 60px;
          padding: 10px;
          cursor: pointer;

          @media (max-width: 1150px) {
            font-size: 1rem;
            padding: 10px;
          }
        }
      }
    }
  }

  .text-to-the-left {
    display: flex;
    align-items: start;
    gap: 35px;
  }

  .border-none {
    border: none;
  }
}
